rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /photos/{photoId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      match /comments/{commentId} {
        allow read: if true;
        allow create: if true;
        allow delete: if true;
      }
    }

    match /albums/{albumId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }

    match /userRatings/{ratingId} {
      allow read: if true;
      allow create, update: if request.auth != null;
    }

    match /contests/{contestId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      match /entries/{entryId} {
        allow read: if true;
        allow create: if true;
        allow update: if true;
        allow delete: if true;
      }
    }
  }
}
